name: Daily News Scraper

on:
  push:                   # 1. File save karte hi chalega
  workflow_dispatch:      # 2. Manual Button enable karega
  schedule:
    - cron: '30 1 * * *'  # 3. Daily Subah 7:00 AM IST

permissions:
  contents: write

jobs:
  scrape-and-update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: |
          pip install requests beautifulsoup4 lxml

      - name: Run Scraper Script
        run: python scraper.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          git add 1.json 2.json
          git commit -m "Manual Trigger Update" || echo "No changes to commit"
          git pull --rebase origin main
          git push
