name: Daily Current Affairs Grep

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '30 1 * * *' # Daily at 7:00 AM IST

permissions:
  contents: write

jobs:
  update-news:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install requests beautifulsoup4 lxml

      - name: Run Scraper Script
        run: python scraper.py

      - name: Check Files (Debug)
        run: ls -la

      - name: Commit and Push
        run: |
          git config --global user.name "NewsBot"
          git config --global user.email "bot@github.com"
          git add 1.json 2.json All.txt
          # Ye line error rokegi agar koi nayi news nahi mili to
          git commit -m "Auto-update: Daily News" || echo "No changes to commit"
          git push
