name: Daily News System

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

permissions:
  contents: write

jobs:
  fetch-and-clean:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: |
          pip install requests beautifulsoup4 lxml

      
      - name: Run Scraper
        run: python scraper.py

      
      - name: Run Cleaner
        run: python cut.py

      
      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          
          # Pehle Server se latest files kheecho (Taaki Conflict na ho)
          git pull origin main --no-edit
          
          git add 1.json 2.json
          git commit -m "News Update: $(date)" || echo "No changes to commit"
          
          # Final Push
          git push origin main
